/*change Brand Name Font */
.navbar-brand{
    font-family: 'Ubuntu', sans-serif;
    font-size: 2em;
    font-weight:bold;
}
/* change navigation color */
.navbar #myMenu .custom-nav .nav-item a{
    color: #fff;
}
.navbar #myMenu .custom-nav .nav-item a:hover{
    color: #f0aab1;
}
 /* header image */
 .back-image{
     background-size: cover;
     background-position: center center;
     background-repeat: no-repeat;
     min-height: 90vh;
     border-radius: 0px;
     margin-top: 74px;
 }
 /* Header image sub-title */
 .font-italic{
     font-size: 50px;
 }
.mainHeading{
    margin-top: 50px;
}
@media only screen and(max-width: 600px){
    .myclass{
        margin-top: 350px;
        text-align: center;
    }
}